body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    color: #333;
}

header {
    background-color: grey;
    padding: 1rem;
    text-align: center;
}
header h1{
    color: darkblue;
}

main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: darkblue;
    margin-top: -30px;
    background-image: url(../img/batman-portrait.png), url(../img/batman-bg.jpg);
    background-size: 130vh, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-intro h1{
    font-size: 96px;
    line-height: 106px;
}
main p{
    font-size: 18px;
    line-height: 30px;
}
main a{
    margin-top: 30px;
    font-size: 18px;
    display: block;
    background-color: darkblue;
    padding: 10px 20px;
    width: fit-content;
}
main .main-quotes p{
    border-left: 4px solid darkblue;
    padding-left: 20px;
    margin: 40px 0;
    margin-left: 50px;
}
main .main-quotes p:nth-child(2){
   margin-left: 100px;
}
main .main-intro {
    position: relative;
    right: 13vh;
    padding-bottom: 8vh;
}
main .main-quotes {
    position: relative;
    left: 4vh;
}


footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button-nav {
    width: 100%;
    text-align: center;
    z-index: 3;
}

.button-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -30px;
}

.button-nav ul li {
    display: inline-block;
    margin: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: black;
    transition: color 0.3s ease;
}

/* Feature page specific styles */
.feature {
    background-color: white;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 26x;
    line-height: 32px;
    color: white;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}
p{
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: Roboto;
}
a{
    cursor: pointer;
}