body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden; /* Ensure no scrollbar */
    background-image: url('../img/superman-bg.png'); /* Background image path */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
}

.superman-feature {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the background doesn't overflow */
    background-color: rgba(255, 255, 255, 0.8); /* Background color to help with text visibility */
}

.superman-portrait-mask {
    position: relative;
    z-index: 2;
}

.superman-portrait {
    max-width: 100%;
    height: auto;
    opacity: 0.9; /* Make the image slightly transparent */
}

.superman-text {
    font-size: 10rem; /* Adjust as needed */
    font-weight: bold;
    color: darkred; /* Light color with low opacity for better blending */
    position: absolute;
    z-index: 1;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: darkcyan;
}

.button-nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.button-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: darkred;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkblue;
}